<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Make account to see more</p>

      <form action="/register" method="post" >
      <input type="email" name="email" placeholder="Email" class="detail" /><br />
      <input type="text" name="username" placeholder="username" class="detail" /><br />
      <input type="text" name="fullname"  placeholder="fullname" class="detail" /><br />
      <input type="password" name="password" placeholder="Password" class="detail" /><br />
      <input type="submit" class="butn int" value="Register Account" />

    </form>

      <h4>Forgot your password?</h4>

      
      <p class="or">OR</p>
     
      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <p>Already  on Pinterest ?</p>
        <a class="btn" href="/login" role="button">Login</a>
      </footer>
    </div>
  </div>
  <a class="upbtn" href="">Sign up</a>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>